:root {
	--color-white: #ffffff;
	--color-white-soft: #f8f8f8;
	--color-white-contrasted: #adbac7;

	--color-black: #22272e;
	--color-black-soft: #2d333b;
	--color-black-contrasted: #24292f;

	--color-primary: #ffcc00;
	--color-primary-transparent: rgba(255, 204, 0, 0.2);

	--color-grey: #444c56;
}

/* semantic color variables for this project */
:root {
	--color-background: var(--color-white);
	--color-background-secondary: var(--color-white-soft);
	--color-background-ternary: var(--color-white-contrasted);

	--color-border: var(--color-grey);

	--color-text: var(--color-black-contrasted);
	--color-text-inverted: var(--color-white-contrasted);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--color-black);
		--color-background-secondary: var(--color-black-soft);
		--color-background-ternary: var(--color-black-contrasted);

		--color-border: var(--color-grey);

		--color-text: var(--color-white-contrasted);
		--color-text-inverted: var(--color-black-contrasted);
	}
}

body {
	/* min-height: 100vh; */
	color: var(--color-text);
	margin: 0;
	background: var(--color-background);
	transition: color 0.5s, background-color 0.5s;
	/* line-height: 1.6; */
	font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
}

input {
	background-color: var(--color-background-secondary);
	border-color: var(--color-primary);
	outline-color: var(--color-primary);
}

button {
	background: var(--color-background-ternary);
	color: var(--color-text-primary);
	border: none;
	cursor: pointer;
}

button:hover {
	background: var(--color-background);
}

@keyframes rotate {
	0% {
		transform: rotate(0)
	}

	to {
		transform: rotate(360deg)
	}
}

.loading-icon svg {
	animation: vSelectSpinner 1.1s infinite linear;
}